* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


#explorer {
    display: flex;

    height: calc(100vh - 90px);
}



/* sezione aside */
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 230px;
    height: 100%;

    background-color: black;
    color: #a3a3a3;
    font-weight: bold;

    padding: 20px 20px 0;
}

/* stilizzazione comune dei button */
aside button {
    background-color: transparent;
    color: white;
    border: none;
}

aside button span {
    font-weight: bold;
}


.aside-top {
    display: flex;
    flex-direction: column;
    gap: 28px;

    overflow: hidden;
}


#logo img {
    width: 135px;
}

#logo .small {
    display: none;
}

#main-links {
    display: flex;
    flex-direction: column;
    gap: 14px;

    list-style-type: none;
}

#main-links a {
    display: flex;
    align-items: center;
    gap: 6px;

    color: inherit;
    
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

#main-links img {
    height: 20px;
}


#playlists  {
    overflow-y: hidden;
}

#playlists h3 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: white;

    margin-bottom: 14px;
}

#playlists button {
    display: flex;
    align-items: center;
    gap: 10px;

    margin-bottom: 22px;
}

#playlists button .fa-solid {
    display: inline-block;

    background-color: #a3a3a3;
    color: black;

    padding: 9px 10px 11px;

    font-size: 17px;
}

#playlist-list {
    display: flex;
    flex-direction: column;
    gap: 24px;

    list-style-type: none;

    overflow-y: auto;
    max-height: calc(100% - 87px);
}


.aside-bottom {
    display: flex;
    flex-direction: column;

    padding-bottom: 8px;
    padding-top: 12px;
}

.aside-bottom button {
    display: flex;
    align-items: center;
    gap: 10px;
}


.aside-bottom #install-app {
    margin-bottom: 10px;
}

.aside-bottom #install-app img {
    height: 12px;
}

.aside-bottom hr {
    margin-bottom: 14px;
}

.aside-bottom #profile-button {
    font-size: 14px;
}

.aside-bottom #profile-button span {
    font-weight: bold;
}

.aside-bottom #profile-button img {
    width: 25px;
    height: 25px;

    object-fit: cover;
    object-position: top;

    background-color: #808080;

    border-radius: 50%;

}

/* fine sezione aside */


main {
    background-color: #183d1d;
    /* test */

    width: calc(100% - 230px);

    overflow-y: auto;

    background-color: #141922;
    color: white;

    padding: 90px 20px 20px;

}

#banner {
    display: flex;
    justify-content: flex-end;
    align-items: center;


    position: fixed;
    top: 0;
    right: 0;

    width: calc(100% - 230px);
    height: 90px;

    padding: 20px;

    /* padding: 28px 28px 40px 28px; */

    text-align: right;


    background-color: rgba(0, 0, 0, 0.4);
    color: white;

}



#filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;

    width: 100%;

    padding: 20px;

    margin-bottom: 16px;

    list-style-type: none;
    
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;

}






#selector {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    
}

/* sezione album */
.album {


    width: calc(100% / 6 - 16px / 6 * 5);
    max-width: 200px;
}

.album .cover {
    margin-bottom: 16px;
}

.album .cover img{
    width: 100%;
}


.album .text {
    text-align: center;
}

.album .text .title {
    font-weight: bold;
    font-size: 1.1em;

    margin-bottom: 10px;
}

/* fine sezione album */



.test, .test * {
    border: 1px dotted black;
    background-color: rgba(0, 0, 255, 0.2);
    /* test */
}



/* inizio footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 90px;
    
    padding: 10px;

    background-color: #282828;
    color: white;
}



footer .track-details {
    display: flex;
    align-items: center;
    gap: 13px;

    height: 100%;
    width: 100%;
    max-width: 30%;
}

footer .album-cover {
    height: 100%;
}


footer .album-cover img {
    height: 100%;
}


footer .track-info {
    min-width: 200px;
}

footer .track-info .track-title {
    font-weight: bold;
    margin-bottom: 4px;
}

footer .track-info .track-artist {
    font-size: .9em;
}


footer .track-actions > *:first-child {
    margin-right: 14px;
}



/* TRACK PLAYER  */
footer .track-player {
    width: 100%;
    max-width: 40%;
}


footer .track-player .player-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;  

    margin-bottom: 14px;

}

footer .track-player .player-buttons .fa-circle-play {
    font-size: 30px;
    
    margin: 0 10px;
}


footer .track-player .seek-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;

}

footer .track-player .seek-bar .bar {

    width: 100%;
    height: 6px;
    background-color: #5a5a5a;

    border-radius: 3px;
}

footer .track-player .seek-bar .bar:hover .progress-bar {
    background-color: #1db854;
}

footer .track-player .seek-bar .bar:hover .progress-bar::before {
    display: block;
}


footer .track-player .seek-bar .bar .progress-bar {
    position: relative;

    width: calc(35%);
    height: 100%;

    background-color: #c0c0c0;

    border-radius: 2px;

}


footer .track-player .seek-bar .bar .progress-bar::before {
    
    content: '';
    
    display: none;
    
    position: absolute;
    right: 0;
    
    width: 10px;
    height: 10px;
    
    transform: translateX(25%) translateY(-25%);
    
    background-color:  white;

    border-radius: 50%;

    box-shadow: 2px 2px 4px #00000080;

}


/* fine TRACK PLAYER  */




/* TRACK CONTROLS */
footer .track-controls {
    width: 100%;
    max-width: 30%;
}
/* fine TRACK CONTROLS */




/* fine footer */


@media screen and (max-width: 1200px) {
    footer .track-info {
        min-width: 0;
    }
}


@media screen and (max-width: 992px) {


    #selector .album {
        width: calc(100% / 4 - 16px / 4 * 3);
    }

}



@media screen and (max-width: 768px) {
    #selector .album {
        width: calc(100% / 2 - 16px / 2);
    }

    footer .track-details {
        gap: 7px;
    }

    footer .album-cover img {
        width: 40px;
        height: auto;
    }

    footer .album-cover {
        height: auto;
        max-height: 100%;
    }
}

@media screen and (max-width: 576px) {
    #logo .big {
        display: none;
    }

    #logo .small {
        display: inline-block;
        width: 28px;
    }


    aside {
        width: 50px;
        padding: 10px;
    }

    aside button,
    aside a {
        flex-direction: column;
    }

    /* nascondo elementi */
    aside button span,
    aside a span,
    aside hr,
    #playlists
    {
        display: none;
    }

    aside .aside-bottom {
        padding-bottom: 0;
    }



    main {
        width: calc(100% - 50px);
    }

    main #banner {
        width: calc(100% - 50px);
    }




}
