* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


#explorer {
    display: flex;

    height: calc(100vh - 90px);
}



/* sezione aside */
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 230px;
    height: 100%;

    background-color: black;
    color: #a3a3a3;
    font-weight: bold;

    padding: 20px 20px 0;
}

/* stilizzazione comune dei button */
aside button {
    background-color: transparent;
    color: white;
    border: none;
}

aside button span {
    font-weight: bold;
}


.aside-top {
    display: flex;
    flex-direction: column;
    gap: 28px;

    overflow: hidden;
}


#logo img {
    width: 135px;
}

#logo .small {
    display: none;
}

#main-links {
    display: flex;
    flex-direction: column;
    gap: 14px;

    list-style-type: none;
}

#main-links a {
    display: flex;
    align-items: center;
    gap: 6px;

    color: inherit;
    
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

#main-links img {
    height: 20px;
}


#playlists  {
    overflow-y: auto;
}

#playlists h3 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: white;

    margin-bottom: 14px;
}

#playlists button {
    display: flex;
    align-items: center;
    gap: 10px;

    margin-bottom: 22px;
}

#playlists button .fa-solid {
    display: inline-block;

    background-color: #a3a3a3;
    color: black;

    padding: 9px 10px 11px;

    font-size: 17px;
}

#playlist-list {
    display: flex;
    flex-direction: column;
    gap: 24px;

    list-style-type: none;
}


.aside-bottom {
    display: flex;
    flex-direction: column;

    padding-bottom: 8px;
    padding-top: 12px;
}

.aside-bottom button {
    display: flex;
    align-items: center;
    gap: 10px;
}


.aside-bottom #install-app {
    margin-bottom: 10px;
}

.aside-bottom #install-app img {
    height: 12px;
}

.aside-bottom hr {
    margin-bottom: 14px;
}

.aside-bottom #profile-button {
    font-size: 14px;
}

.aside-bottom #profile-button span {
    font-weight: bold;
}

.aside-bottom #profile-button img {
    width: 25px;
    height: 25px;

    object-fit: cover;
    object-position: top;

    background-color: #808080;

    border-radius: 50%;

}

/* fine sezione aside */


main {
    background-color: #183d1d;
    /* test */

    width: calc(100% - 230px);

    overflow-y: auto;

    background-color: #141922;
    color: white;

    padding: 90px 20px 20px;

}

#banner {
    display: flex;
    justify-content: flex-end;
    align-items: center;


    position: fixed;
    top: 0;
    right: 0;

    width: calc(100% - 230px);
    height: 90px;

    padding: 20px;

    /* padding: 28px 28px 40px 28px; */

    text-align: right;


    background-color: rgba(0, 0, 0, 0.4);
    color: white;

}



#filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;

    width: 100%;

    padding: 20px;

    margin-bottom: 16px;

    list-style-type: none;
    
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;

}






#selector {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    
}

/* sezione album */
.album {


    width: calc(100% / 6 - 16px / 6 * 5);
    max-width: 200px;
}

.album .cover {
    margin-bottom: 16px;
}

.album .cover img{
    width: 100%;
}


.album .text {
    text-align: center;
}

.album .text .title {
    font-weight: bold;
    font-size: 1.1em;

    margin-bottom: 10px;
}

/* fine sezione album */



footer {
    background-color: #08bb2f;
    /* test */

    height: 90px;
}






@media screen and (max-width: 992px) {


    #selector .album {
        width: calc(100% / 4 - 16px / 4 * 3);
    }

}



@media screen and (max-width: 768px) {
    #selector .album {
        width: calc(100% / 2 - 16px / 2);
    }
}

@media screen and (max-width: 576px) {
    #logo .big {
        display: none;
    }

    #logo .small {
        display: inline-block;
        width: 28px;
    }


    aside {
        width: 50px;
        padding: 10px;
    }

    aside button,
    aside a {
        flex-direction: column;
    }

    /* nascondo elementi */
    aside button span,
    aside a span,
    aside hr,
    #playlists
    {
        display: none;
    }

    aside .aside-bottom {
        padding-bottom: 0;
    }



    main {
        width: calc(100% - 50px);
    }

    main #banner {
        width: calc(100% - 50px);
    }




}
